<main>
  <div class="header-img">
      <img class="center" src="assets/international.webp" alt="thd-int" height="300px" width="100%">
  </div>
</main>
<div>
  <h1 class="title">{{'cInternalText'|translate}} </h1>
</div>

<div class="cards">
<div>
<mat-card class="card" routerLink="/mensa" >
    <mat-card-content>
        <mat-card-title> 
          <h2 class="card-title" style="font-family: Arial, sans-serif;font-size:30px ;text-align:center">Mensa</h2>
        </mat-card-title>
    </mat-card-content>
</mat-card>
</div>

<div>
<mat-card class="card" routerLink="/rooms" >
    <mat-card-content>
        <mat-card-title> 
          <h2 class="card-title" style="font-family: Arial, sans-serif;font-size:30px ;text-align:center">Rooms</h2>
        </mat-card-title>
    </mat-card-content>
</mat-card>
</div>

<div>
<mat-card class="card" routerLink="/professor" >
    <mat-card-content>
        <mat-card-title> 
          <h2 class="card-title" style="font-family: Arial, sans-serif;font-size:30px ;text-align:center">Find Professors</h2>
        </mat-card-title>
    </mat-card-content>
</mat-card>
</div>

<div>
<mat-card class="card" routerLink="/staff" >
    <mat-card-content>
        <mat-card-title> 
          <h2 class="card-title" style="font-family: Arial, sans-serif;font-size:30px ;text-align:center">Find Staff</h2>
        </mat-card-title>
    </mat-card-content>
</mat-card>
</div>

</div>

