 <!-- <p>{{'cInternationalText'|translate}}</p> -->
<!-- <ng-container matColumnDef="studyabroad">
    <a href="#" mat-button routerLink="/studyabroad">Study Abroad</a>
    </ng-container> -->
    <main>
        <div class="header-img">
            <img class="center" src="assets/international.webp" alt="thd-int" height="300px" width="100%">
        </div>
    </main>
    <div>
        <h1 class="title">{{'cInternationalText'|translate}} </h1>
    </div>

  <div class="cards">
    <div>
      <mat-card class="card" routerLink="/exchange-students" >
          <mat-card-content>
              <mat-card-title> 
                <h2 class="card-title" style="font-family: Arial, sans-serif;font-size:30px ;text-align:center">Exchange Students</h2>
              </mat-card-title>
          </mat-card-content>
      </mat-card>
    </div>

    <div>
      <mat-card class="card" routerLink="/studyabroad" >
          <mat-card-content>
              <mat-card-title> 
                <h2 class="card-title" style="font-family: Arial, sans-serif;font-size:30px ;text-align:center">Study Abroad</h2>
              </mat-card-title>
          </mat-card-content>
      </mat-card>
    </div>

    <div>
      <mat-card class="card" routerLink="/international-students" >
          <mat-card-content>
              <mat-card-title> 
                <h2 class="card-title" style="font-family: Arial, sans-serif;font-size:30px ;text-align:center">International Students</h2>
              </mat-card-title>
          </mat-card-content>
      </mat-card>
    </div>

    <div>
      <mat-card class="card" routerLink="/career-service" >
          <mat-card-content>
              <mat-card-title> 
                <h2 class="card-title" style="font-family: Arial, sans-serif;font-size:30px ;text-align:center">Career Service</h2>
              </mat-card-title>
          </mat-card-content>
      </mat-card>
    </div>

    <div>
      <mat-card class="card" routerLink="/awp-languages" >
          <mat-card-content>
              <mat-card-title> 
                <h2 class="card-title" style="font-family: Arial, sans-serif;font-size:30px ;text-align:center">AWP and Languages</h2>
              </mat-card-title>
          </mat-card-content>
      </mat-card>
    </div>
  </div>

  <!-- <div class="cards">
        <div class="card">
          <div class="card-body">
            <a routerLink="/exchange-students">
             <h2 class="card-title">Exchange Students</h2>
            </a>           
          </div>
        </div>
        
        <div class="card">
            <div class="card-body">
              <a routerLink="/studyabroad">
              <h2 class="card-title">Study Abroad</h2>
              </a>
            </div>
          </div>
        
          <div class="card">
            <div class="card-body">
              <a routerLink="/international-students">
              <h2 class="card-title">International Students</h2>
              </a>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <a routerLink="/career-service">
              <h2 class="card-title">Career Service</h2>
              </a>
            </div>
          </div>
            <br>
          <div class="card">
            <div class="card-body">
              <a routerLink="/awp-languages">
              <h2 class="card-title">AWP And Languages</h2>
              </a>
            </div>
          </div>
      </div> -->

      


<!-- ------------- -->
    <!-- <div class="card">
        <div class="container">
          <h4><b>Exchange students</b></h4>
        </div>
      </div>




    <ul class="fullclick">
        <li>
          <a class="main">
            <h2>Exchange students</h2>
          </a>
        </li>
        <br>
      </ul> -->

