<!-- <p>event-details works!</p> -->
<main>
    <div class="header-img">
        <img class="center" src="assets/events2.webp" alt="thd-events" height="200px" width="100%">
    </div>
</main>
<br>
<div id="upcomingEvents" style="text-align:left">
    <h1 style="color: #1a0566;font-family: Arial, sans-serif;font-size:30px ;text-align:left">
        Event Calendar
    </h1>
    <br>
<div>
    <div>
        <h1>{{event.name}}</h1> 
        <h2 style="color: #19181a;font-family: Arial, sans-serif;font-size:20px ;text-align:left">{{event.date}}</h2>
        <p>{{event.stime}} - {{event.etime}}</p>
        <p>{{event.venue}}</p>      
        <p>{{event.description}}</p>
        <br>
        <br>
    </div>

</div> 
</div>
