<main>
    <div class="header-img">
        <img class="center" src="assets/events2.webp" alt="thd-int" height="300px" width="100%">
    </div>
</main>
<br>
<div id="navigation1" style="text-align:left">
    <h1 style="color: #1a0566;font-family: Arial, sans-serif;font-size:30px ;text-align:left">
        Campus Locations
    </h1>
    <div>Discover the Deggendorf campus</div>
    <img class="center" src="assets/nav1.webp" alt="thd-int" height="90%" width="90%">
<div>
<br>
<br>
<div id="navigation2" style="text-align:left">
    <h1 style="color: #1a0566;font-family: Arial, sans-serif;font-size:30px ;text-align:left">
        13 Research & Technology Campuses
    </h1>
    <div>The technology campuses are where staff and students undertake innovative R&D work in cooperation with local or international companies.</div>
    <img class="center" src="assets/nav2.webp" alt="thd-int" height="90%" width="90%">
<div>